div#banner {
    height: 300px;
}

h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
}

p {
    margin-bottom: 20px;
}

ul {
    margin: 10px 0 20px 0;
}

ul ul {
    margin: 0;
}

div#values {
    display: flex;
    flex-wrap: wrap;
}

    div#values div {
        padding: 4px 6px;
        /* flex-grow: 1; */
        border: 1px solid black;
        border-radius: 6px;
        text-align: center;
        margin: 0 5px 5px 0;
    }

    section span {
        position: absolute;
        top: -90px
    }