
    div#link-container {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-between;
    }

    div.about-link {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 10px;
        border: 1px solid crimson;
        text-align: center;
        margin-bottom: 10px;
        flex-basis: 190px;
    }
    
    div.about-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

        div.about-content {
            flex-basis: 390px;
        }

    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: crimson;
    }

    div#services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.services-content {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        flex-basis: 190px;
        height: 190px;
        border: 1px solid crimson;
        margin-bottom: 20px;
        padding: 15px;
        text-align: center;
    }
    div.about-link:hover, div.services-content:hover {
        background-color: crimson;
    }
    div.about-link:hover a, div.about-link:hover h3,
    div.services-content:hover a, div.services-content:hover h3, 
    div.services-content:hover h4 {
        color: white;
    }
    div.about-link:hover h3, div.services-content:hover h3 {
        font-weight: 600;
    }
    
        .services-content img {
            width: 24px;
            height: 24px;
            margin: 20px 0 5px 0;
        }

        div.services-content:hover img {
            filter: brightness(100);
        }

        .services-content h4 {
            margin: 10px 0 0 0;
            font-size: 14px;
            font-weight: 400;
            color: crimson;
        }

    a h2 {
        color: black;
    }