
body {
    min-width: 400px;
}

main {
    width: 360px;
    padding: 0 20px 120px 20px;
}

nav h1 {
    display: none;
}

div#banner div {
    margin: 0 auto;
    width: 360px;
    padding: 20px;
}

div.flex {
    flex-wrap: wrap;

}

section#about div.image {
    height: 360px;
    margin: 0 0 20px 0;
}

section#about div.flex div.link {
    padding: 10px 14px;
    margin: 0 0 10px 0;
}

section#services div.flex div.box {
    width: 100%;
    margin-bottom: 20px;
}

section#services div.flex div.image {
    margin: 0 0 15px 0;
}

section#services div.flex div.text p,
section#services div.flex div.text h3 {
    margin: 5px 0;
}

section div.table {
    width: 100%;
    margin-bottom: 20px;
}

footer p, footer h2, footer h3, footer a {
    font-size: 12px;
}