div#nav-wrapper {
    height: 60px;
}

nav {
    width: 360px;
    padding: 20px 20px 0 20px;
}

nav h1 {
    font-size: 20px;
}

h1 img {
    width: 16px;
}

div#banner {
    min-width: 400px;
}

.dropdown {
    display: none;
}

button#mobile-button {
    float: right;
    background-color: transparent;
    padding: 0;
    border: 0;
    font-size: 18px;
}

button#mobile-button {
    display: block;
}

div#mobile-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 368px;
    /* height: 130px; */
    text-align: left;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
}

div#mobile-content a {
    display: block;
    font-weight: 500;
    padding: 5px;
    font-size: 18px;
    /* text-decoration: underline; */
}

main {
    width: 360px;
    padding: 20px;
}

div#link-container, div.about-container {
    flex-wrap: wrap;
}

div.about-content {
    flex-grow: 1;
}

div.about-link, div.services-content {
    flex-basis: 175px;
    margin-bottom: 10px;
}