body {
  position: relative;
  margin: 0 auto;
  /* min-height: 100vh; */
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  z-index: 1;
}

div#nav-wrapper {
  height: 20px;
  padding: 20px 20px;
  z-index: 2;
}

nav img {
  width: 18px;
  margin: 4px 8px 0 0;
}

nav h1 {
  margin: 0;
  float: left;
  font-size: 18px;
  font-weight: 700;
  font-family: "IBM Plex Serif";
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

nav ul#left {
  float: left;
}

nav ul#left li {
  margin: 0;
  float: left;
}

nav ul#right {
  float: right;
}

nav ul#right li {
  float: left;
  margin: 2px 0 0 20px;
  font-size: 14px;
  font-weight: 500;
}

nav a#button {
  padding: 4px 6px;
  margin: -4px 0 0 0;
  border: 2px solid crimson;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: crimson;
}

nav a#button:hover {
  background-color: crimson;
  color: white;
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: 800px;
  padding: 0 0 120px 0;
}

div#banner {
  display: flex;
  width: 100%;
  height: 360px;
  background-color: maroon;
  background-image: url("../images/index-banner.jpeg");
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  color: white;
  align-items: flex-end;
}

div#banner div {
  margin: 0 auto;
  width: 540px;
  padding-right: 260px;
  font-family: "IBM Plex Serif";
  font-size: 24px;
}

section {
  position: relative;
  margin: 60px 0;
}

section#about div.flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px 0;
}

section#about div.flex div.image {
  width: 390px;
  background-color: gainsboro;
  border-radius: 4px;
  background-size: cover;
}

section#about div.flex div.text {
  width: 390px;
}

section#about div.flex div.link {
  width: 145px;
  padding: 10px 20px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

section#services div.flex {
  display: flex;
  /* align-items: stretch;s */
  justify-content: space-between;
  margin: 20px 0;
}

section#services div.flex div.box {
  width: 185px;
}

section#services div.flex div.image {
  height: 140px;
  margin-bottom: 20px;
  background-color: pink;
  border-radius: 4px;
  background-size: cover;
}

h2 {
  font-family: "IBM Plex Serif";
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "IBM Plex Serif";
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 500;
}

div.divider {
  width: 100%;
  height: 1px;
  background-color: gainsboro;
}

p {
  font-size: 16px;
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-top: 1px solid gainsboro;
  color: gray;
}

footer div {
  width: fit-content;
  padding: 20px;
}

footer p,
footer h2,
footer h3,
footer a {
  font-family: inherit;
  font-size: 14px;
  margin: 0;
}

footer h2 {
  font-family: "IBM Plex Serif";
}

footer strong {
  font-weight: 500;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  text-decoration: underline;
}
